<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServizioNavetta</display-name>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakeRegistration</servlet-name>
    <servlet-class>controller.MakeRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeRegistration</servlet-name>
    <url-pattern>/makeRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IscriviStudente</servlet-name>
    <servlet-class>controller.IscriviStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IscriviStudente</servlet-name>
    <url-pattern>/inviaDatiStudente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModuloIscrizione</servlet-name>
    <servlet-class>controller.ModuloIscrizione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuloIscrizione</servlet-name>
    <url-pattern>/moduloIscrizione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DammiQR</servlet-name>
    <servlet-class>controller.DammiQR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DammiQR</servlet-name>
    <url-pattern>/generaCodice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.DoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DriverRegisterMediator</servlet-name>
    <servlet-class>controller.DriverRegisterMediator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverRegisterMediator</servlet-name>
    <url-pattern>/driverRegisterMediator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaPrenotazione</servlet-name>
    <servlet-class>controller.CreaPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaPrenotazione</servlet-name>
    <url-pattern>/creaPrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObliteraManualmente</servlet-name>
    <servlet-class>controller.ObliteraManualmente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObliteraManualmente</servlet-name>
    <url-pattern>/obliteraManualmente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MostraPrenotazioni</servlet-name>
    <servlet-class>controller.MostraPrenotazioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraPrenotazioni</servlet-name>
    <url-pattern>/MostraPrenotazioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObliteraEntrataManualmente</servlet-name>
    <servlet-class>controller.ObliteraEntrataManualmente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObliteraEntrataManualmente</servlet-name>
    <url-pattern>/obliteraEntrataManualmente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProvaGeneraBiglietto</servlet-name>
    <servlet-class>controller.ProvaGeneraBiglietto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvaGeneraBiglietto</servlet-name>
    <url-pattern>/provaGeneraBiglietto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProvaFeedback</servlet-name>
    <servlet-class>controller.ProvaFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvaFeedback</servlet-name>
    <url-pattern>/provaFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LasciaFeedback</servlet-name>
    <servlet-class>controller.InviaFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LasciaFeedback</servlet-name>
    <url-pattern>/lasciaFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.DoLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/DoLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DopoIscrizioneSenzaErrori</servlet-name>
    <servlet-class>controller.DopoIscrizioneSenzaErrori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DopoIscrizioneSenzaErrori</servlet-name>
    <url-pattern>/DopoIscrizioneSenzaErrori</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeSenzaErrori</servlet-name>
    <servlet-class>controller.HomeSenzaErrori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeSenzaErrori</servlet-name>
    <url-pattern>/HomeSenzaErrori</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InviaDomanda</servlet-name>
    <servlet-class>controller.InviaDomanda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviaDomanda</servlet-name>
    <url-pattern>/InviaDomanda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObliteraBigliettoQR</servlet-name>
    <servlet-class>controller.ObliteraBigliettoQR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObliteraBigliettoQR</servlet-name>
    <url-pattern>/ObliteraBigliettoQR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControlloObliterazione</servlet-name>
    <servlet-class>controller.ControlloObliterazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlloObliterazione</servlet-name>
    <url-pattern>/controlloObliterazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Booking</servlet-name>
    <servlet-class>controller.FinalizzaPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/booking</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DoPrenotationByDriver</servlet-name>
  <servlet-class>controller.DoPrenotationByDriver</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DoPrenotationByDriver</servlet-name>
  <url-pattern>/DoPrenotationByDriver</url-pattern>
  </servlet-mapping>
</web-app>